// bower:scss
// endbower

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

.slide-container {
	overflow: hidden;
	width: 100%;
	height: 100%;
	perspective: 300px;
	transform-style: preserve-3d;
	perspective-origin: 50% 50%;
	user-select: none;
	display: flex;
	justify-content: center;
}

.slide-controller {
	z-index: 2;
	background-color: white;
	box-shadow: 0 0 2em -0.5em black;
	border-radius: 0 0 0.5em 0.5em;
    font-family: sans;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 1.5em;
    align-self: flex-start;
    padding: 0.5em;

     & > * {
    	margin: 0 0.25em;
    }

	&.hidden, .slide-container.presentation & {
		transition: transform ease 0.5s;
		transform: translate(-50%, -200%);
	}

	.slide-controller_close-button {
		padding: 0 0.5em;
		font-weight: bold;
		font-size: 120%;
		cursor: pointer;
	}

	.status {
		display: inline-block;
		padding: 0 0.5em;
	}
}

.slide {
	background: white;
	margin: 1em 1em 0 1em;
	width: calc(100% - 2em);
	height: calc(100% - 5em);
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 1.5s cubic-bezier(0.030, 0.200, 0.360, 1.210);
	transform: translateX(-100%) translateZ(-50px) rotateY(-10deg);
	box-sizing: border-box;

	img {
		max-width: 100%;
	}

	&.active {
		transform: translateX(0);
	}

	&.active~.slide {
		transform: translateX(100%) translateZ(-50px) rotateY(10deg);
	}

	> .panel {

		box-sizing: border-box;
		position: absolute;
		width: 100%;
		height: 100%;

		&.slide-content {
			padding: 1em;
			&, & pre, & li {
				font-size: 1.5em;
			}
			overflow: hidden;

			transition: transform ease 0.5s, box-shadow ease 0.5s;
			transform: scale(0.4) translate(-1em, -1em);
			transform-origin: bottom right;
			box-shadow: 0 0 3em -0.5em black;
			z-index: 1;
		}

		&.notes {
			background: white;
			padding: 1em 1em 40% 1em;
			overflow: auto;
			font-size: 1.5em;
			opacity: 1;
			transition:opacity ease 0.5s;
		}

		.slide-container.hide-presentation & {

			&.slide-content {
				display: none;
			}
		}

		.slide-container.presentation & {

			&.slide-content {
				display: block;
				transform: scale(1);
				box-shadow: 0 0 1em -1em black;
			}

			&.notes {
				opacity: 0;
			}
		}
	}
}

.render-here {
	transition: opacity 0.3s ease;
	opacity: 1;
}

.render-here:empty {
	opacity: 0;
}

footer {
	padding: 1em;
	opacity: 0.8;
	position: absolute;
	bottom: 0;
}
