.slide {
	font-family: 'Open Sans', helvetica, sans;
	font-weight: 200;
	box-shadow: 0 0 3em -1em black;
	font-size: 24px;

	h1 {
		whitespace: nowrap;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
	}

	.slide-content {
		background-color: white;
		.panel-body {
			height: 100%;
			font-size: 1.2em;
		}
	}

	.panel.notes {
		font-size: 80%;

		p {
			margin: 0.3em 0;
		}
	}
}

.small-text {
	font-size: 6px;
}

.flex {
	display: flex;
    justify-content: center;

	div, h1 {
		flex: 1 0;
	}
}

.fancy {
	font-family: serif;
	&::first-letter {
	    font-size: 200%;
	    color: #8A2BE2;
	    display: inline-block;
	    position: relative;
	    top: 1em;
	    line-height: 1em;
	}
}

.dimensionIndicator {
	position: absolute;
	color: white;
	background: rgba(0, 0, 128, 0.5);
	overflow: hidden;
	font-size: 12pt;

	&:after, &:before {
		border: solid 3px white;
		padding: 1em;
		position: absolute;
		margin: 0.5em;
	}
	&:before {
		content: attr(data-tl);
		border-bottom: 0;
		border-right: 0;
	}
	&:after {
		content: attr(data-br);
		border-top: 0;
		border-left: 0;
		bottom: 0;
		right: 0;
	}
}
