$slide-margin: 1em;

.a-slides_slide-container {
	overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	perspective: 300px;
	transform-style: preserve-3d;
	perspective-origin: 50% 50%;
	user-select: none;
	display: flex;
	justify-content: center;
}

.a-slides_slide-controller {
	z-index: 2;
	background-color: white;
	box-shadow: 0 0 2em -0.5em black;
	border-radius: 0 0 0.5em 0.5em;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 1.5em;
    align-self: flex-start;
    padding: 0.5em;

     & > * {
    	margin: 0 0.25em;
    }

	&.hidden, .a-slides_slide-container.presentation & {
		transition: transform ease 0.5s;
		transform: translateY(-200%);
	}

	.a-slides_slide-controller_close-button {
		padding: 0 0.5em;
		font-weight: bold;
		font-size: 120%;
		cursor: pointer;
	}

	.status {
		display: inline-block;
		padding: 0 0.5em;
	}
}

.a-slides_slide {
	margin: 1em $slide-margin 0 $slide-margin;
	width: calc(100% - #{2 * $slide-margin});
	height: calc(100% - 5em);
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 1ms cubic-bezier(0.030, 0.200, 0.360, 1.210);
	transform: translateX(-100%) translateX(-2 * $slide-margin) translateZ(-50px) rotateY(-10deg);
	box-sizing: border-box;

	.a-slides_slide-container.presentation & {
		transition: transform 1.5s cubic-bezier(0.030, 0.200, 0.360, 1.210);
	}

	img {
		max-width: 100%;
	}

	&.active {
		transform: translateX(0);
	}

	&.active~.a-slides_slide {
		transform: translateX(100%) translateX(2 * $slide-margin) translateZ(-50px) rotateY(10deg);
	}

	> * {

		box-sizing: border-box;
		position: absolute;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;

		&.a-slides_slide-content {
			padding: 1em;
			overflow: hidden;
			margin: 0;
			transition: transform ease 0.5s, box-shadow ease 0.5s;
			transform: scale(0.4) translate(-1em, -1em);
			transform-origin: bottom right;
			box-shadow: 0 0 3em -0.5em black;
			z-index: 1;
		}

		&.a-slides_notes {
			padding: 1em 1em 40% 1em;
			overflow: auto;
			opacity: 1;
			transition:opacity ease 0.5s;
			margin: 0;
		}

		.a-slides_slide-container.presentation & {

			&.a-slides_slide-content {
				transform: scale(1);
				box-shadow: 0 0 1em -1em black;
			}

			&.a-slides_notes {
				opacity: 0;
			}
		}
	}


	$nextSlideToShow: 100%;
	$nextSlideScale: 0.5;
	.a-slides_slide-container:not(.presentation) & {
		transition: transform 128ms ease;

		&.active .a-slides_slide-content {
			transform: translate(0.4em, 1.25em) scale(0.4) translateX(-$nextSlideToShow * $nextSlideScale);
			transition: none;
		}
		&.active + .a-slides_slide {
			transform: translateX(100%) translateX(2em);
			.a-slides_slide-content {
				transition: none;
				transform: translateX(-100%) translateX(-1em) translate(0.4em, 1.25em) scale(0.4) translateX(100% - $nextSlideToShow) scale($nextSlideScale);
				z-index: 6;
			}
		}
	}
}